@import '~bootstrap/scss/bootstrap';

$glasses: #00b0ba;

$purple: #6700BA;
$red: #BA0A00;
$green: #53BA00;

$triadPurple: #BA00B0;
$triadYellow: #B0BA00;

$darkGlasses: #007b86;

$darkPurple: #4E0086;
$darkRed: #860B00;
$darkGreen: #388600;

$brass: #d7bb67;
$brassPurple: #BB67D7;


body {
  background-image: url('../public/Ava1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-brand {
  font-family: euphoria-script, sans-serif;
  font-size: 40px;
}

#navbar-brand {
  color: $glasses;
}

#navbar {
  // background-image: linear-gradient(rgba(15, 15, 15, 1), rgba(15, 15, 15, 0.3));
  background-color: rgba(15, 15, 15, 0.7)
}

.nav-link {
  font-family: alice, serif;
  font-size: 16px;
  color: $brass;
}

.text {
  font-family: alice, serif;
  color: $white;
}

.nav-link:hover {
  color: #BB67D7;
}

// #navbarNav {
//   display: flex;
//   justify-content: flex-end;
// }

.blurb {
  margin: 1em;
  padding: 1em;
  width: 28%;
  background-color: rgba(103, 0, 186, 0.8);
  border-radius: 10px;
  display: inline-block;
}

#blurb1 {
  margin: 1em 5em;
}

#blurb2 {
  margin: 6em 3em;
  float: right;
}

#blurb3 {
  margin: 5em 1em;
}

#blurb4 {
  margin: -3em 1em;
  float: right;
}

#spotify-container {
  margin: 1em;
  float: right;
  display: inline-block;
  animation-duration: 1s;
}

#spotify-player {
  float: right;
}

#follow {
  float: right;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation: rubberBand 1s;
}


@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  animation: slideInLeft 2s;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  animation: slideInRight 2s;
  // animation-delay: 1s;
}

.disappear {
  display: none;
}
